
<div id="nav">
	<span class="navbar"><%= link_to "Home", root_path %></span>
	<span class="navbar"><%= link_to "Store", store_path %></span>
  	<span class="navbar"><%= link_to "About", about_path %></span>
  	<span class="navbar"><%= link_to "Checkout", checkout_path %></span>
</div>