<h1>The home page</h1>

<div class='bull'>
	<ul>
		<li>Skateboards</li>
		<li>Skateboard Supplies</li>
		<li>All your skateboard stuff</li>
	</ul>
</div>

<div id="pricingtable">
	<div class="package">
		<h2>Deck Only</h2>
		<p>All decks from major brands, with the best prices around.</p>
		<p>$29.99 - $49.99</p>
	</div>

	<div class="package">
		<h2>Complete Set Up</h2>
		<p>Get a complete skateboard set up, fully customizable deck, trucks, wheels, and bearings.</p>
		<p>$99.99 - $149.99</p>
	</div>

	<div class="package">
		<h2>Various Hardware</h2>
		<p>Pick up standalone hardware: wheels, trucks, bearings etc.</p>
		<p>$9.99 - $39.99</p>
	</div>
</div>
